{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="about-page">
    <h2>Hi, my name is Saviour Gidi.<h2>
            <p>
                I am a Software Engineer in charge of Ops at nFortics Inc. I do everything infrastructure and backend.
                I previously worked with Working IT Solutions(Backend and DevOps) and Henson Geodata Technologies as
                System
                Administrator. I spend my time reading about cloud security,infrastructure, cloud technologies,
                containers
                and many things that have
                to do with code deployment! I am also experienced in GIS and Remote Sensing Technology. #MANUTD fan.
                I love Gitlab this days.
            </p>


            <br>

            WEB:
            <ul>
                <li>Python, C#/.NET, NodeJS, Java, Some GOLANG, Flutter</li>
                <li>Databases: RDS, Postgres, Sqlite, Mysql, SQL/NOSQL</li>
                <li>This site is running on flask and deployed on appengine</li>
            </ul>
            <ul>
                OPS:
                <br />
                <li>AWS, Google Cloud, Heroku, Jenkins, Ansible</li>
                <li>Docker Containers, Gitlab, Circle, Appveyor, CI/CD</li>
                <li>Systemd, Webservers, VPN- IPSEC, OpenVPN, PBX Box Manangemet(VOIP)</li>
                <li>Prometheus, Datadog, Grafana, Graphite, Sentry, Elastic Stack</li>
            </ul>
            <ul>
                GIS:
                <br />
                <li>Spatial Data, Remote Sensing</li>
                <li>ESRI ArcGIS, ArcPY, QGIS, MapInFo, ENVI</li>
                <li>GPS and Field Data Collection</li>
                <li>Geoserver and Geonode</li>
            </ul>

            <p>If you'd like to get in touch you can reach me via <a href="https://twitter.com/saviour123">Twitter</a>,
                or profsaviour@gmail.com</p>
            <i>
                <a href="https://docs.google.com/document/d/19HgVvzuZi44cEODwRgcMLVB7DuDmIhEqMd97rdLnZ_s/edit?usp=sharing">Resume</a>
            </i>
</div>
{% endblock %}