{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div>
    <h1>Hi, my name is Saviour Gidi.<h1>
            <h2>I go by username @saviour123 and live in Accra, Ghana.</h2>
            <p>
                I am a Software Engineer in charge of Ops at nFortics Inc. I do everything infrastructure and backend.
                I previously worked with Working IT Solutions(Backend and DevOps) and Henson Geodata Technologies as
                System
                Administrator. I spend my time reading about server security, configurations, serverless, containers
                and many things that have
                to do with code deployment! I am also experienced in GIS and Remote Sensing Technology. #ManUTD fan.
            </p>

            <i>
                <a href="https://docs.google.com/document/d/19HgVvzuZi44cEODwRgcMLVB7DuDmIhEqMd97rdLnZ_s/edit?usp=sharing">View
                    CV</a>
            </i>
            <br>
            These are some of the technologies I've had experience with!
            <br />
            <ul>
                <li>Python, c#, .NETCore, NodeJS, Java and Shell Scripting</li>
                <li>Databases: Postgres, Sqlite, Mysql, Mongo</li>
                <li>This site is running on flask</li>
            </ul>
            <ul>
                OPS:
                <br />
                <li>AWS, Google Cloud, Heroku, Jenkins, Ansible</li>
                <li>Docker Containers, Gitlab, CI/CD</li>
                <li>VPN- IPSEC, OpenVPN, PBX Box Manangemet(VOIP)</li>
            </ul>
            <ul>
                GIS:
                <br />
                <li>Spatial Data, Remote Sensing</li>
                <li>ESRI ArcGIS, ArcPY, QGIS, MapInFo, ENVI</li>
                <li>GPS and Field Data Collection</li>
                <li>Geoserver and Geonode</li>
            </ul>

            <p>If you'd like to get in touch you can reach me via <a href="https://twitter.com/saviour123">Twitter</a>,
                or <a href="about">profsaviour@gmail.com</a>.</p>

</div>
{% endblock %}